<div class="relative select-none">
  @if (searchable()) {
    <div class="flex flex-col gap-1">
      <app-label [label]="label()!" />
      <div class="relative flex max-w-3xs">
        <input
          type="text"
          [placeholder]="placeholder()"
          (click)="handleOpen()"
          [value]="selected()?.label"
          (input)="searchTerm.set($any($event.target).value)"
          [class]="dropdownClass + 'caret-accent focus:text-accent w-full outline-none'"
        />
        <ng-icon
          name="remixArrowDownSLine"
          [class]="
            'absolute top-1/2 right-4 -translate-y-1/2 text-xl duration-500 ' +
            (opened() && 'rotate-180')
          "
        />
      </div>
    </div>
  } @else {
    <div class="flex flex-col gap-1">
      <app-label [label]="label()!" />
      <div (click)="handleOpen()" [class]="dropdownClass">
        <span [class.text-zinc-400]="!selected()">{{ selected()?.label ?? placeholder() }}</span>
        <ng-icon
          name="remixArrowDownSLine"
          [class]="'text-xl duration-500 ' + (opened() && 'rotate-180')"
        />
      </div>
    </div>
  }
  @if (opened()) {
    <div
      [class]="'border-accent absolute z-10 mt-3 flex w-full max-w-xs flex-col gap-2 rounded-xl border bg-zinc-700 p-2'"
    >
      @if (filteredOptions().length > 0) {
        @for (option of filteredOptions(); track option.label) {
          <span
            class="cursor-pointer rounded-lg p-2 px-4 duration-500 hover:bg-zinc-500"
            (click)="handleSelect(option); option?.onClick()"
          >
            {{ option.label }}
          </span>
        }
      } @else {
        <span class="flex h-16 w-full items-center justify-center">No options</span>
      }
    </div>
  }
</div>
