<div class="relative">
  <div
    (click)="handleOpen()"
    [class]="'hover:border-accent ring-accent/30 focus-within:ring-accent relative flex max-w-3xs cursor-pointer items-center justify-between gap-2 rounded-xl border border-transparent bg-zinc-700 px-4 py-2 duration-500 select-none focus-within:ring-2 hover:ring-3'"
  >
    <span>{{ selected()?.label ?? 'Choose...' }}</span>
    <ng-icon
      name="remixArrowDownSLine"
      [class]="'text-xl duration-500 ' + (opened() && 'rotate-180')"
    />
  </div>
  @if (opened()) {
    <div
      [class]="'border-accent absolute z-10 mt-3 flex w-full max-w-xs flex-col gap-2 rounded-xl border bg-zinc-700 p-2'"
    >
      @if (options().length > 0) {
        @for (option of options(); track option.label) {
          <span
            class="cursor-pointer rounded-lg p-2 px-4 duration-500 hover:bg-zinc-500"
            (click)="handleSelect(option); option?.onClick()"
          >
            {{ option.label }}
          </span>
        }
      } @else {
        <span class="flex h-16 w-full items-center justify-center">No options</span>
      }
    </div>
  }
</div>
